[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "diffmatchpatch"]
	path = diffmatchpatch
	url = https://github.com/rundel/diffmatchpatch
[submodule "ghclass"]
	path = ghclass
	url = https://github.com/rundel/ghclass
[submodule "md4r"]
	path = md4r
	url = https://github.com/rundel/md4r
[submodule "parsermd"]
	path = parsermd
	url = https://github.com/rundel/parsermd
